<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/TitleMeta.cshtml")

    @RenderSection("styles", required: false)

    @Html.Partial("~/Views/Shared/HeadCSS.cshtml")
</head>
@{
        var layout = ViewBag.LayoutSettings as LayoutSettings;
}
@* <body data-pc-preset="@layout?.PcPreset ?? " preset-1"" data-pc-sidebar-theme="@layout?.PcSidebarTheme ?? " light"" data-pc-sidebar-caption="@layout?.PcSidebarCaption ?? " true"" data-pc-direction="@layout?.PcDirection ?? " ltr"" data-pc-theme="@layout?.PcTheme ?? " light"> *@
@* <body data-pc-preset="@layout.PcPreset" data-pc-sidebar-theme="@layout.PcSidebarTheme" data-pc-sidebar-caption="@layout.PcSidebarCaption" data-pc-direction="@layout.PcDirection" data-pc-theme="@layout.PcTheme"> *@
<body data-pc-preset="@layout.PcPreset" data-pc-sidebar-theme="@layout.PcSidebarTheme" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">

    @* @Html.Partial("~/Views/Shared/LayoutVertical.cshtml") *@

    <div class="pc-container">
        <div class="pc-content">

            @* @Html.Partial("~/Views/Shared/Breadcrumb.cshtml") *@

            @RenderBody()

        </div>
    </div>

    @RenderSection("externalhtml", required: false)

    @Html.Partial("~/Views/Shared/Footer.cshtml")

    @Html.Partial("~/Views/Shared/Customizer.cshtml")

    @Html.Partial("~/Views/Shared/VendorScripts.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>
