<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
                    @if (!string.IsNullOrEmpty(ViewBag.pTitle))
                    {
                        @if (!string.IsNullOrEmpty(ViewBag.pTitleUrl))
                        {
                            <li class="breadcrumb-item"><a href="@ViewBag.pTitleUrl">@ViewBag.pTitle</a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item">@ViewBag.pTitle</li>
                        }
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.Title))
                    {
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                    }
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->